USE [master]
GO
/****** Object:  Database [DontHarm]    Script Date: 12/28/2023 1:19:47 PM ******/
CREATE DATABASE [DontHarm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DontHarm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DontHarm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DontHarm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DontHarm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DontHarm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DontHarm]
GO
/****** Object:  Table [dbo].[AccountStatus]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Login] [nvarchar](100) NULL,
	[Pas] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[SocialSecNumber] [bigint] NULL,
	[Ein] [nvarchar](30) NULL,
	[Phone] [nvarchar](30) NULL,
	[PassS] [bigint] NULL,
	[PassN] [bigint] NULL,
	[Birthday] [nvarchar](50) NULL,
	[SocialTypeId] [int] NULL,
	[CompanyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Country] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Inn] [bigint] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[InPC] [bigint] NULL,
	[InBIK] [bigint] NULL,
	[Ua] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Login] [nvarchar](100) NULL,
	[Pas] [nvarchar](100) NULL,
	[IpAddress] [nvarchar](100) NULL,
	[LastEnter] [date] NULL,
	[TextServices] [nvarchar](100) NULL,
	[RoleId] [int] NULL,
	[AccountStatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NULL,
	[Successfully] [bit] NULL,
	[EmployeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[FinishDays] [int] NULL,
	[StatusId] [int] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderService]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ServiceId] [int] NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderServiceDestroyer]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderServiceDestroyer](
	[OrderServiceDestroyerId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[OrderServiceId] [int] NULL,
	[AfterDestroy] [decimal](10, 10) NULL,
	[Disp] [float] NULL,
	[ConcR] [float] NULL,
	[ConC] [float] NULL,
	[ConK] [float] NULL,
	[ConMe] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderServiceDestroyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Cost] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialType]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 12/28/2023 1:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([Id], [Name], [Login], [Pas], [Email], [SocialSecNumber], [Ein], [Phone], [PassS], [PassN], [Birthday], [SocialTypeId], [CompanyId]) VALUES (N'cb81b69e-137a-4371-a587-00904737a255', N'Adelind Emma', N'aemma3v', N'prRtw5y7Xg4w', N'aemma3v@instagram.com', 12654357, N'97-2463596', N'+380 (939) 694-6143', 6511, 309328, N'279373808000', 2, 140)
INSERT [dbo].[Client] ([Id], [Name], [Login], [Pas], [Email], [SocialSecNumber], [Ein], [Phone], [PassS], [PassN], [Birthday], [SocialTypeId], [CompanyId]) VALUES (N'ec04dd60-5a54-42c0-8707-0117d4f5303d', N'Diahann Doul', N'ddoulf5', N'zOb1EAxF', N'ddoulf5@skype.com', 45997080, N'35-3129164', N'+86 (800) 679-1875', 6130, 587596, N'641462936000', 2, 546)
INSERT [dbo].[Client] ([Id], [Name], [Login], [Pas], [Email], [SocialSecNumber], [Ein], [Phone], [PassS], [PassN], [Birthday], [SocialTypeId], [CompanyId]) VALUES (N'ea54957f-b92b-4248-83d3-012db45787c2', N'Joyce Mielnik', N'jmielnik5n', N'k09kVkFd2A', N'jmielnik5n@people.com.cn', 39271994, N'88-0791347', N'+48 (359) 375-4944', 7163, 648838, N'436462636000', 1, 204)
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id], [Name], [Country], [Address], [Inn], [IpAddress], [InPC], [InBIK], [Ua]) VALUES (1, N'Avamba', N'China', N'0536 Bunker Hill Plaza', 2716833, N'227.113.77.41', 553793026, 180522995, N'Mozilla/5.0 (X11; CrOS i686 0.13.587) AppleWebKit/535.1 (KHTML, like Gecko) Chrome/13.0.782.14 Safari/535.1')
INSERT [dbo].[Company] ([Id], [Name], [Country], [Address], [Inn], [IpAddress], [InPC], [InBIK], [Ua]) VALUES (2, N'Chatterpoint', N'Nigeria', N'45 Boyd Place', 6233619, N'203.227.211.218', 531363170, 629384303, N'Mozilla/5.0 (X11; U; Linux x86_64; en-US) AppleWebKit/535.1 (KHTML, like Gecko) Chrome/13.0.782.20 Safari/535.1')
INSERT [dbo].[Company] ([Id], [Name], [Country], [Address], [Inn], [IpAddress], [InPC], [InBIK], [Ua]) VALUES (3, N'Zooveo', N'Indonesia', N'6 Farragut Parkway', 3684079, N'115.243.208.173', 860679987, 324109181, N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.66 Safari/535.11')
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Name], [Login], [Pas], [IpAddress], [LastEnter], [TextServices], [RoleId], [AccountStatusId]) VALUES (1, N'Clareta Hacking', N'chacking0', N'4tzqHdkqzo4', N'147.231.50.234', CAST(N'2020-02-10' AS Date), N'|557|836|287', 1, NULL)
INSERT [dbo].[Employee] ([Id], [Name], [Login], [Pas], [IpAddress], [LastEnter], [TextServices], [RoleId], [AccountStatusId]) VALUES (2, N'Northrop Mably', N'nmably1', N'ukM0e6', N'22.32.15.211', CAST(N'2020-06-20' AS Date), N'|855|619|557|836|548', 2, NULL)
INSERT [dbo].[Employee] ([Id], [Name], [Login], [Pas], [IpAddress], [LastEnter], [TextServices], [RoleId], [AccountStatusId]) VALUES (3, N'Fabian Rolf', N'frolf2', N'7QpCwac0yi', N'113.92.142.29', CAST(N'2020-05-19' AS Date), N'|543|836', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] ON 

INSERT [dbo].[LoginHistory] ([Id], [LogDate], [Successfully], [EmployeeId]) VALUES (1, CAST(N'2023-12-28T09:18:51.797' AS DateTime), 1, 1)
INSERT [dbo].[LoginHistory] ([Id], [LogDate], [Successfully], [EmployeeId]) VALUES (2, CAST(N'2023-12-28T09:20:54.337' AS DateTime), 1, 1)
INSERT [dbo].[LoginHistory] ([Id], [LogDate], [Successfully], [EmployeeId]) VALUES (3, CAST(N'2023-12-28T09:34:10.483' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[LoginHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [CreateDate], [FinishDays], [StatusId], [Deleted]) VALUES (1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Order] ([Id], [CreateDate], [FinishDays], [StatusId], [Deleted]) VALUES (2, CAST(N'2022-01-02T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Order] ([Id], [CreateDate], [FinishDays], [StatusId], [Deleted]) VALUES (3, CAST(N'2022-01-03T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderService] ON 

INSERT [dbo].[OrderService] ([Id], [OrderId], [ServiceId], [StatusId]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[OrderService] ([Id], [OrderId], [ServiceId], [StatusId]) VALUES (2, 2, 2, NULL)
INSERT [dbo].[OrderService] ([Id], [OrderId], [ServiceId], [StatusId]) VALUES (3, 3, 3, NULL)
SET IDENTITY_INSERT [dbo].[OrderService] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderServiceDestroyer] ON 

INSERT [dbo].[OrderServiceDestroyer] ([OrderServiceDestroyerId], [EmployeeId], [OrderServiceId], [AfterDestroy], [Disp], [ConcR], [ConC], [ConK], [ConMe]) VALUES (1, 1, 1, CAST(0.1500000000 AS Decimal(10, 10)), 0.2, 0.0005, 0.0003, 0.0002, 0.0001)
INSERT [dbo].[OrderServiceDestroyer] ([OrderServiceDestroyerId], [EmployeeId], [OrderServiceId], [AfterDestroy], [Disp], [ConcR], [ConC], [ConK], [ConMe]) VALUES (2, 2, 2, CAST(0.1000000000 AS Decimal(10, 10)), 0.18, 0.0004, 0.0002, 0.0001, 0.0002)
INSERT [dbo].[OrderServiceDestroyer] ([OrderServiceDestroyerId], [EmployeeId], [OrderServiceId], [AfterDestroy], [Disp], [ConcR], [ConC], [ConK], [ConMe]) VALUES (3, 3, 3, CAST(0.1200000000 AS Decimal(10, 10)), 0.22, 0.0006, 0.0004, 0.0003, 0.0002)
SET IDENTITY_INSERT [dbo].[OrderServiceDestroyer] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Бухгалтер')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Лаборант')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Лаборнат-исследователь')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Name], [Cost]) VALUES (1, N'Service', NULL)
INSERT [dbo].[Service] ([Id], [Name], [Cost]) VALUES (2, N'Утилизация батареек', CAST(262.71 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([Id], [Name], [Cost]) VALUES (3, N'Утилизация аккумуляторов', CAST(361.88 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[SocialType] ON 

INSERT [dbo].[SocialType] ([Id], [Name]) VALUES (1, N'oms')
INSERT [dbo].[SocialType] ([Id], [Name]) VALUES (2, N'dms')
SET IDENTITY_INSERT [dbo].[SocialType] OFF
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD FOREIGN KEY([SocialTypeId])
REFERENCES [dbo].[SocialType] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([AccountStatusId])
REFERENCES [dbo].[AccountStatus] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[OrderServiceDestroyer]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[OrderServiceDestroyer]  WITH CHECK ADD FOREIGN KEY([OrderServiceId])
REFERENCES [dbo].[OrderService] ([Id])
GO
USE [master]
GO
